@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
}

.page__body {
  position: relative;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
  "info picture-1 picture-2 picture-3"
  "info picture-1 picture-4 placeholder"
  "desc picture-5 picture-4 picture-6";
  background-color: #F9F9F9;
}

.info {
  grid-area: info;
  width: 458px;
  height: 473px;
  text-align: center;
}

.main-title {
  margin: 125px 0 0 65px;
  color: #000;
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  height: 140px;
  width: 100%;
  text-align: start;
}

.social {
  margin-top: 137px;
}

.social__icon:not(:last-child) {
  margin-right: 24px;
}

.description {
  grid-area: desc;
  background-color: #828282;
  padding: 95px 48px 64px 65px;
  width: 458px;
  height: 247px;
  color: #F2F2F2;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

.woman-with-hat {
  grid-area: picture-1;
  width: 364px;
  height: 473px;
  object-fit: cover;
}

.coffee-area {
  grid-area: picture-5;
  width: 364px;
  height: 247px;
  background: #A6806B;
}

.coffee-cup {
  width: 199px;
  height: 247px;
  object-fit: cover;
}

.doors {
  grid-area: picture-4;
  width: 226px;
  height: 433px;
  object-fit: cover;
}

.woman-smile {
  grid-area: picture-2;
  width: 226px;
  height: 288px;
  object-fit: cover;
}

.asian-girl {
  grid-area: picture-3;
  width: 232px;
  height: 288px;
  object-fit: cover;
  z-index: 1;
}

.red-area {
  grid-area: placeholder;
  width: 100%;
  height: 185px;
  background: #A61C1C;
}

.asian-man {
  grid-area: picture-6;
  width: 232px;
  height: 248px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .page__body {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "info      picture-1   picture-2"
    "info      picture-1   picture-4"
    "desc      picture-5   picture-4"
    "picture-3 placeholder picture-6"  ;
  }

  .asian-man {
    height: 100%;
    width: 100%;
  }

  .red-area {
    grid-column-start: picture-3;
    height: 100%;
  }
}

@media (max-width: 768px) {
    .page__body {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "info      picture-1"
    "info      picture-1"
    "desc      picture-5"
    "picture-2 picture-3"
    "picture-4 placeholder"
    "picture-4 picture-6";
  }

  .woman-smile {
    width: 100%;
    object-fit: cover;
}

  .asian-girl {
    width: 100%;
  }

  .doors {
    width: 100%;
    height: 100%;
  }

  .red-area {
    grid-column-start: picture-3;
    height: 200px;
  }
}

@media (max-width: 320px) {
  .page__body {
    display: flex;
    flex-direction: column;
  }

  .page__body > * {
    width: 100%;
  }

  .main-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 110%;
    text-align: center;
    width: 100vw;
    margin: 100px auto 0;
  }

  .description {
    padding: 3rem ;
  }
}
